MONGO_URI=mongodb+srv://USER:PASSWORD@cluster0.arjs8ue.mongodb.net/
PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

JWT_SECRET=byt-detta-i-riktig-miljo
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10